## Importing Required Packages

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from word2number import w2n

## Reading the Dataset

In [2]:
hiring = pd.read_csv('hiring.csv')
hiring

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

The dataset consists of a few **NAN** values. In the following steps these are handled.

## Data preprocessing

### Filling NAN values in experience field.
The **NAN** values in **experience** field of the dataset is filled with the string **zero** using the **fillna** function.

In [3]:
hiring['experience'] = hiring['experience'].fillna('zero')
hiring

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

### Converting String values to Numbers in experience field.
Next, using the **word2number** library the string values in **experience** field are converted to numeric values so as to train the Linear Regression Model.

In [4]:
for i in range(0, len(hiring['experience'])):
    hiring.iloc[i, 0] = w2n.word_to_num(hiring.iloc[i, 0])
hiring

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

### Filling NAN values of the 'test_score(out of 10)' field
The NAN values of this field is filled with the floor value of the median calculated over the remaining data points in the column.

In [5]:
hiring['test_score(out of 10)'] = hiring['test_score(out of 10)'].fillna(int(hiring['test_score(out of 10)'].median()))
hiring

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

## Linear Regression Model

### Instantating the Model.

In [6]:
linReg = LinearRegression()

### Fitting the model on the dataset.
- **Input features**: experience, test_score(out of 10), interview_score(out of 10)
- **targer feature**: salary($)

In [7]:
liner_regression_model = linReg.fit(hiring[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], hiring['salary($)'])

## Predicting Salaries

The fitted model is used to predict the salary for the following input features:
- experience: two years, test_score(out of 10): 9, interview_score(out of 10): 6
- experience: twelve years, test_score(out of 10): 10, interview_score(out of 10): 10

In [8]:
liner_regression_model.predict([[2,9,6]])

array([53205.96797671])

In [9]:
liner_regression_model.predict([[12,10,10]])

array([92002.18340611])

The salaries obtained are in accordance with the solution provided [here](https://github.com/codebasics/py/blob/master/ML/2_linear_reg_multivariate/Exercise/exercise_answer.ipynb).